$bg-color:rgb(219, 27, 222);
$hover-color:rgb(152, 152, 136);
$for-color:rgb(38, 171, 20);
$font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-weight:(
    "small":15px,
    "medium":20px,
    "large":35px
);
$box:1px 6px 10px rgb(17, 181, 33);